<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmdVWHfg3Y0yTf7KK0jgLr8JddltrKUWE</string>
	<key>GCM_SENDER_ID</key>
	<string>943379912307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gpt4</string>
	<key>PROJECT_ID</key>
	<string>chat-gpt-4-a6dc1</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-gpt-4-a6dc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943379912307:ios:7e93e389094d76795fbc06</string>
</dict>
</plist>